---
http_interactions:
- request:
    method: get
    uri: https://www.hikingproject.com/data/get-trails?key=200861545-f9d25b27b112432facca63795cbeebdc&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ap-Request-Id:
      - dd0fc4b4-280f-4725-bedb-47fa81a24d37
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "trails": [
                {
                    "id": 7011192,
                    "name": "Boulder Skyline Traverse",
                    "type": "Recommended Route",
                    "summary": "The classic long mountain route in Boulder.",
                    "difficulty": "black",
                    "stars": 4.7,
                    "starVotes": 87,
                    "location": "Superior, Colorado",
                    "url": "https:\/\/www.hikingproject.com\/trail\/7011192\/boulder-skyline-traverse",
                    "imgSqSmall": "https:\/\/cdn2.apstatic.com\/photos\/hike\/7039883_sqsmall_1555092747.jpg",
                    "imgSmall": "https:\/\/cdn2.apstatic.com\/photos\/hike\/7039883_small_1555092747.jpg",
                    "imgSmallMed": "https:\/\/cdn2.apstatic.com\/photos\/hike\/7039883_smallMed_1555092747.jpg",
                    "imgMedium": "https:\/\/cdn2.apstatic.com\/photos\/hike\/7039883_medium_1555092747.jpg",
                    "length": 17.4,
                    "ascent": 5480,
                    "descent": -5558,
                    "high": 8454,
                    "low": 5423,
                    "longitude": -105.2582,
                    "latitude": 39.9388,
                    "conditionStatus": "All Clear",
                    "conditionDetails": "Dry",
                    "conditionDate": "2020-06-20 23:07:00"
                },
                {
                    "id": 7000130,
                    "name": "Bear Peak Out and Back",
                    "type": "Recommended Route",
                    "summary": "A must-do hike for Boulder locals and visitors alike!",
                    "difficulty": "black",
                    "stars": 4.6,
                    "starVotes": 117,
                    "location": "Boulder, Colorado",
                    "url": "https:\/\/www.hiki[...]
