---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<UNSPLASH_CLIENT_ID>&orientation=landscape&query=denver,co%20AND%20landscape
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accept-Version:
      - v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=<UNSPLASH_CLIENT_ID>&orientation=landscape&page=7458&query=denver%2Cco+AND+landscape>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=<UNSPLASH_CLIENT_ID>&orientation=landscape&page=2&query=denver%2Cco+AND+landscape>;
        rel="next"
      X-Total:
      - '74571'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '45'
    body:
      encoding: ASCII-8BIT
      string: '{"total":74571,"total_pages":7458,"results":[{"id":"GABxDPKmamc","created_at":"2020-01-30T13:25:24-05:00","updated_at":"2020-03-14T01:04:04-04:00","promoted_at":null,"width":4240,"height":2832,"color":"#131B24","description":null,"alt_description":"white
        clouds over the city","urls":{"raw":"https://images.unsplash.com/photo-1580408597610-51b1ad419857?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjE1MzY1MH0","full":"https://images.unsplash.com/photo-1580408597610-51b1ad419857?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE1MzY1MH0","regular":"https://images.unsplash.com/photo-1580408597610-51b1ad419857?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjE1MzY1MH0","small":"https://images.unsplash.com/photo-1580408597610-51b1ad419857?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE1MzY1MH0","thumb":"https://images.unsplash.com/photo-1580408597610-51b1ad419857?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjE1MzY1MH0"},"links":{"self":"https://api.unsplash.com/photos/GABxDPKmamc","html":"https://unsplash.com/photos/GABxDPKmamc","download":"https://unsplash.com/photos/GABxDPKmamc/download","download_location":"https://api.unsplash.com/photos/GABxDPKmamc/download"},"categories":[],"likes":20,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"JjLq3q-fYAo","updated_at":"2020-07-27T19:57:19-04:00","username":"paysonwick","name":"Payson
        Wick","first_name":"Payson","last_name":"Wick","twitter_username":null,"portfolio_url":"http://paysonwick.com","bio":"Trying
        to capture the world the way that I see it.\r\n\r\nAlways looking to collaborate
        & friends for adventures.","location":"Denver","links":{"self":"https://api.unsplash.com/users/paysonwick","html":"https://unsplash.com/@paysonwick","photos":"https://api.unsplash.com/users/paysonwick/photos","likes":"https://api.unsplash.com/users/paysonwick/likes","portfolio":"https://api.unsplash.com/users/paysonwick/portfolio","following":"https://api.unsplash.com/users/paysonwick/following","followers":"https://api.unsplash.com/users/paysonwick/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1592491014223-9ec59c5dd84cimage?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1592491014223-9ec59c5dd84cimage?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1592491014223-9ec59c5dd84cimage?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"paysonwick","total_collections":2,"total_likes":41,"total_photos":45,"accepted_tos":true},"tags":[{"type":"search","title":"outdoors"},{"type":"landing_page","title":"nature","source":{"ancestry":{"type":{"slug":"images","pretty_slug":"Images"},"category":{"slug":"nature","pretty_slug":"Nature"}},"title":"Nature
        Images","subtitle":"Download free nature images","description":"Nature produces
        the most astoundingly beautiful images: the swirling lava of a volcano, palm
        trees against a blue sky, snow-capped mountains towering above. Unsplash has
        magnificent , high-quality photos of all the delights that nature has to offer.","meta_title":"100+
        Nature Pictures | Download Free Images & Stock Photos on Unsplash","meta_description":"Choose
        from hundreds of free nature pictures. Download HD nature photos for free
        on Unsplash.","cover_photo":{"id":"VE5FRc7uiC4","created_at":"2018-10-15T04:58:20-04:00","updated_at":"2020-05-14T01:16:30-04:00","promoted_at":"2018-10-15T08:23:00-04:00","width":4640,"height":3480,"color":"#989EAF","description":"lost
        in the sky","alt_description":"star in space","urls":{"raw":"https://images.unsplash.com/photo-1539593395743-7da5ee10ff07?ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1539593395743-7da5ee10ff07?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb","regular":"https://images.u[...]
