---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1596340391,"sunrise":1596283164,"sunset":1596334374,"temp":71.35,"feels_like":67.23,"pressure":1025,"humidity":45,"dew_point":48.94,"uvi":10.3,"clouds":75,"visibility":10000,"wind_speed":6.93,"wind_deg":180,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"rain":{"1h":0.76}},"hourly":[{"dt":1596337200,"temp":71.35,"feels_like":68.81,"pressure":1025,"humidity":45,"dew_point":48.94,"clouds":75,"visibility":10000,"wind_speed":4.14,"wind_deg":229,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0.76},{"dt":1596340800,"temp":71.65,"feels_like":69.39,"pressure":1024,"humidity":45,"dew_point":49.21,"clouds":75,"visibility":10000,"wind_speed":3.78,"wind_deg":193,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.64,"rain":{"1h":0.76}},{"dt":1596344400,"temp":71.71,"feels_like":69.85,"pressure":1023,"humidity":45,"dew_point":49.26,"clouds":64,"visibility":10000,"wind_speed":3.06,"wind_deg":173,"weather":[{"id":500,"main":"Rain","description":"light
[...]
[...]
