---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<MAPQUEST_API_KEY>&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 04 Aug 2020 22:21:42 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAPQUEST_API_KEY>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1539463806"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAPQUEST_API_KEY>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=1664852337"}]}]}'
  recorded_at: Tue, 04 Aug 2020 22:21:42 GMT
[...]
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1596579698,"sunrise":1596542532,"sunset":1596593380,"temp":87.26,"feels_like":79.41,"pressure":1019,"humidity":25,"dew_point":47.17,"uvi":10.81,"clouds":75,"visibility":10000,"wind_speed":12.75,"wind_deg":330,"wind_gust":20.8,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1596578400,"temp":87.26,"feels_like":79.77,"pressure":1019,"humidity":25,"dew_point":47.17,"clouds":75,"visibility":10000,"wind_speed":12.1,"wind_deg":37,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.12},{"dt":1596582000,"temp":85.35,"feels_like":69.13,"pressure":1016,"humidity":31,"dew_point":51.31,"clouds":39,"visibility":10000,"wind_speed":29.55,"wind_deg":43,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0.43},{"dt":1596585600,"temp":77.47,"feels_like":71.67,"pressure":1014,"humidity":39,"dew_point":50.59,"clouds":22,"visibility":6977,"wind_speed":10.71,"wind_deg":349,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10d"}],"pop":0.79,"rain":{"1h":3.06}},{"dt":1596589200,"temp":70.12,"feels_like":61.5,"pressure":1015,"humidity":58,"dew_point":54.68,"clouds":98,"visibility":10000,"wind_speed":17.85,"wind_deg":166,"weather":[{"id":502,"main":"Rain","description":"heavy
        intensity rain","icon":"10d"}],"pop":1,"rain":{"1h":5.38}},{"dt":1596592800,"temp":68.68,"feels_like":61.7,"pressure":1017,"humidity":54,"dew_point":51.39,"clouds":100,"visibility":10000,"wind_speed":13.22,"wind_deg":203,"weather":[{"id":500,"main":"Rain","descr[...]
[...]
